<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
                    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Company Home page</title>
</head>
<body>
    <h2>Company Home Page</h2>
<hr>
    <p>
 Welcome to the company home page!
    </p>
    <hr>
    <!-- Display user name and role -->
                  <p>
                        User:<span sec:authentication="principal.username"></span>
                      <br><br>
                        Roles(s):<span sec:authentication="principal.authorities"></span>
                  </p>

    <div sec:authorize="hasRole('MANAGER')">
             <!-- Add a link to the point to /leaders .. this is for the manager -->
        <p>
              <a  th:href="@{/leaders}" >Leadership Meeting</a>
                 (Only for manager peeps)
        </p>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
          <!-- Add a link to the point to /systems .. this is for the admin -->

         <p>
             <a  th:href="@{/systems}" >It Systems Meeting</a>
                 (Only for admin peeps)
         </p>
    </div>
    <hr>
<!--Add a log out button -->
<form action="#" th:action="@{/logout}" method="post" >
    <input type="submit" value="logout">

</form>



</body>
</html>